/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}
.mat-card-header-text {
  width: 300px;
}
